
.nav_routes {
  display: flex;
  gap: 30px;
}
.hamburger {
  display: none;
}
.hamburger > div {
  width: 20px;

  border-bottom: 2px solid;
}

@media screen and (max-width: 480px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav_routes {
    display: none;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav_routes {
    display: none;
  }
}
