/* navbar */
#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: teal;
}
#nav_logo{
  margin: 0 10px;
}
#nav > div {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  padding: 10px;
}
a > li {
  list-style: none;
  color: rgb(253, 251, 248);
}
#links > ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
a {
  text-decoration: none;
  color: #333;
}

/* logo_Css */
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
}
#logo > span {
  width: 50px;
  height: 50px;
  background-color: #ffc107;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  color: #333;
}
#logo > span > h1 {
  margin-top: 2px;
}

#logo > span > h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  font-style: italic;
}
#nav_logo:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: #ff5107;
  border-radius: 50%;
}

/* make_logo_move */

#move,
.menu_active {
  animation: moveText 2s infinite;
}

@keyframes moveText {
  50% {
    transform: translateX(7px);
  }
}

/*hamburger*/

#ham {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
}

#ham > div > div {
  width: 70%;
  border-top: 1.5px solid;
  margin: auto;
  margin-top: 7px;
}
.cancel {
  color: white;
  font-size: 24px;
  margin-top: 10px;

  font-family: cursive;
}
.menu_active {
  position: fixed;
  background-color: teal;
  width: 200px;
  top: 50px;
  text-align: center;
  height: 100%;
  right: 0;
  font-size: large;
  flex-direction: column;
}
.menu_active > a > li {
  padding-top: 80px;
  margin-left: -20px;
}
.menu_hide {
  display: none;
}
@media only screen and (max-width: 600px) {
  #ham {
    display: block;
  }

  #links {
    display: none;
  }
}
